/* :root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: red;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
} */

/* narrow */
.landing {
  width: 275px;
  height: 50px;

  border-width: 3px;
  border-radius: 25px;
  border-color: black;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;

  color: black;

  background-color: #f9dd25;
}

.circle {
  height: 50px;
  width: 50px;

  border-width: 3px;
  border-radius: 25px;
  border-color: black;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;

  text-align: right;

  color: black;

  background-color: #f9dd25;
}
/* 
wide */
.landing2 {
  width: 300px;
  border-radius: 15px;
  border-color: black;
  border-width: 1px;
  color: black;
  font-family: Josefin Sans;
  font-weight: bold;
  background-color: yellow;
}

/* fat */
.fat {
  width: 180px;
  height: 60px;
  border-radius: 30px;

  border-color: yellow;
  border-width: 5px;

  color: black;
  font-family: Josefin Sans, sans-serif;
  font-size: 18px;

  background-color: white;
}

.cardStyle {
  width: 275px;
  height: 150px;

  border-width: 3px;
  border-radius: 25px;
  border-color: black;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;

  color: black;

  background-color: #f9dd25;
}

::placeholder {
  /* color: black;
  font-family: Josefin Sans;
  font-weight: bold; */
}
