.col {
  max-width: 200px;
}
/* .div {
  background-image: url(" http://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
} */

/* Flexbox styling source: https://codepen.io/team/css-tricks/pen/EKEYob */
.flex-container {
  max-width: "375px";
  height: "812px";

  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.innerImage1 {
  position: absolute;
  max-width: 140px;
  top: 0px;
  left: 280px;
}

.innerImage2 {
  position: absolute;
  max-width: 140px;
  top: 810px;
  left: 0px;
}

.flex-item {
  /* background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center; */
}
