.header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 81px;
  left: 110px;
  line-height: 24px;
}

.art {
  position: absolute;
  top: 179px;
  left: 23px;
  right: 206px;
  z-index: 1;
  width: 146px;
  height: 146px;
}

.square {
  width: 160px;
  height: 160px;
  background-color: #f9dd25;
  position: relative;
  top: 172px;
  left: 16px;
}

.artist {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 184px;
  left: 184px;
}

.globe {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 219px;
  left: 184px;
}

.instagram {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 219px;
  left: 218px;
}

.dribbble {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 219px;
  left: 253px;
}

.buyDeck {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: 12px;
  top: 280px;
  left: 184px;
  width: 175px;
  height: 40px;
  text-align: left;
  line-height: 14px;
  font-weight: 400;
}

.blueText {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  top: 258px;
  left: 184px;
  color: #3a91fb;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 400;
}

.description {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  top: 383px;
  left: 16px;
  text-align: left;
  width: 343px;
  height: 117px;
  line-height: 18px;
  font-weight: 400;
}
