/* .backgroundimg {
  background-image: url("landing.png");
  filter: blur(5px);
  -webkit-filter: blur(5px);
} */
/* 
.div {
  font-family: "Josefin Sans", sans-serif;
} */

.rectangle {
  position: absolute;
  max-width: 300px;
  top: 296px;
  left: 45px;
}

.message {
  position: absolute;
  max-width: 250px;
  top: 330px;
  bottom: 330px;
  left: 62px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.testBlur {
  /* Add the blur effect */
  filter: blur(4px);

  /* Full height */
  height: 100%;
}

.testBlur2 {
  position: absolute;
  top: 0px;
  left: 0px;
}


.landing2 {
  position: absolute;
  top: 554px;
  left: 47px;
}
