/* .backgroundimg {
  filter: blur(4px);
  height: 100%;
} */

.rectangle {
  position: absolute;
  max-width: 300px;
  top: 296px;
  left: 45px;
  /* z-index: 2; */
}

.message {
  position: absolute;
  max-width: 250px;
  top: 330px;
  bottom: 330px;
  left: 62px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  /* z-index: 1; */
}

.landing2 {
  position: absolute;
  top: 554px;
  left: 47px;
}
