.col {
  margin: 20px;
  text-align: center;
}

.row {
  text-align: center;
}

.card {
  padding: 20px;
  border-radius: 25px;
}

.container {
  max-width: 500px;
}

.yes {
  color: white;
  float: left;
}

.no {
  color: white;
  float: right;
}
