.col {
  margin: 10px;
  text-align: center;
}

.row {
  text-align: center;
}

.card1 {
  /* height: 60px;
  width: 200px; */
  display: flex;
  /* padding: 20px; */
  border-radius: 25px;
  font-size: 14px;
  vertical-align: 100%;
}

.container {
  max-width: 500px;
}

.nameTag {
  color: white;
  float: left;
  font-size: 14px;
  flex-grow: 1;
}

.pointTag {
  color: white;
  float: right;
  flex-grow: 1;
}
