.scoreboard {
    max-width: 370px;
    height: 100%;
    background-image: url("../assets/scoreboard.png");
}
.textScoreBoard {
    text-align: center;
}
.imgScoreBoard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 255px;
    width: 255px;
    border-radius: 50px;
}
.closeBtn{
    position: absolute;
    margin-left: 353Px;
    color: red;
    font-size: 24px;
}
.headerScoreBoard {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 10px;
}
.valuesScoreBoard {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.captionScoreBoard {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    background-color: yellow;
    border-radius: 25px;
    margin-bottom: 10px;
}
.buttonScoreBoard {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    border-color: yellow;
    border-width: 5px;
    color: black;
    font-family: Josefin Sans, sans-serif;
    font-size: 18px;
}
.loadingimg {
    margin-left: 4rem;
    width: 10rem;
}