.waiting {
    max-width: 375px;
    height: 812px;
    background-image: url("../assets/landing.png");
}
.gameRulesWaiting {
    display: inline-block;
    position: absolute;
    margin-top: 98px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: Josefin Sans, sans-serif;
    font-weight: bold;
    color: blue;
    text-decoration: none;
}
.oneWaiting {
    padding-top: 38%;
    text-align: center;
}
.gameCodeWaiting {
    width: 275px;
    height: 150px;
    border-width: 3px;
    border-radius: 25px;
    border-color: black;
    font-family: Josefin Sans, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: #f9dd25;
    margin-top: 80%;
    margin-left: 50px;
}

